#jet-msg__editor {
    margin: 0;
    padding: 1em;
    height: 400px;
    font-family: "Helvetica Neue", Arial, sans-serif;
    color: #333;
}
#jet-msg__editor textarea {
    border: none;
    border-right: 1px solid #ccc;
    resize: none;
    outline: none;
    background-color: #f6f6f6;
    font-size: 14px;
    font-family: "Monaco", courier, monospace;
    padding: 20px;
}
#jet-msg__editor textarea, #jet-msg__editor div {
    display: inline-block;
    width: 49%;
    height: 100%;
    vertical-align: top;
    box-sizing: border-box;
    padding: 20px;
    overflow: auto;
}
.jet-msg-notifications .cx-vui-panel {
    padding: 1.3em;
}
.jet-msg-notifications .save-button {
    text-align: right;
}
.jet-msg-notifications__none {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
}
.jet-msg-notifications__none .cx-vui-panel {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 1.3em;
    height: 180px;
}
.jet-msg-notifications__none .cx-vui-panel .description {
    font-size: 15px;
    line-height: 23px;
    color: #7b7e81;
}
