.jet-msg-private-chat {

  .cx-vui-panel {
    display: flex;
    width: 60%;
    margin: 0 auto 35px;
  }

  .cx-vui-component {
    flex: 6;
  }

  .sync-button {
    padding: 20px;
    flex: 1;
  }

  .chat-enabled {
    font-size: 3em;
    color: cadetblue;
  }
}
